.PageWrapper {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 0 !important;
  width: 100%;
}

.PageContent {
  height: 100%;
  margin: 0 !important;
  padding: 1%;
  width: 100%;
}

.ContentWrapper {
  height: 100%;
  padding: 0;
  width: 75%;
}
