@import '../../../../styles/variables';

.RightContent {
  float: left;
  width: 50%;
  height: 100%;
  padding: 1% !important;
  padding-top: 0 !important;
}

.Header {
  color: $mdbootstrapBlue;
  margin: 0;
}

.List {
  padding: 0;
  list-style-type: none;
}

.Card {
  height: 15vh;
  margin-bottom: 2%;
}

.CardBody {
  height: 100%;
  padding: 0;
  margin: 2%;
}

.FilmTitle {
  cursor: pointer;
  color: $mdbootstrapBlue;
}

.CardText {
  margin-bottom: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.FilmTable {
  table-layout: fixed;
}

.IDCell,
.TitleCell,
.YearCell,
.DirectorCell,
.StarsCell {
  padding: 1% !important;
}

.IDCell,
.YearCell {
  width: 3vw;
}

.TitleCell {
  width: 10vw;
}

.DirectorCell {
  width: 7vw;
}

.StarsCell {
  width: 9vw;
}

.ReviewText {
  max-height: 5.5vh;
  overflow: hidden;
  text-overflow: ellipsis;
}
