.OperationRadioGroup {
  background-color: whitesmoke;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 8%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
  width: 96%;

  .TopOperationRadio {
    height: 22vh;
  }

  .BottomOperationRadio {
    height: auto;
  }
}
