.SelectWrapper {
  height: auto;
  min-height: 1px;
  overflow: hidden;
  width: 100%;

  .Select, .SelectInput {
    height: 4vh;
    padding: 1%;
  }

  .SelectInput {
    width: auto;
  }

  .Select {
    width: fit-content;
  }

  .ReviewInput {
    clear: left;
    min-height: 20vh;
    width: 98%;
  }
}
