.LeftContent {
  float: left;
  padding: 0 !important;
}

.RESTToggle {
  margin-bottom: 5%;
}

.OperationRadioGroup,
.FormatRadioGroup {
  background-color: whitesmoke;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 8%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
  width: 96%;
}

.TopOperationRadio {
  height: 22vh;
}

.BottomOperationRadio {
  height: auto;
}

.SelectWrapper {
  min-height: 1px;
  overflow: hidden;
  width: 100%;
}

.Select,
.SelectInput {
  height: 4vh;
  padding: 1%;
}

.SelectWrapper {
  height: auto;
  width: 100%;
}

.Select {
  width: fit-content;
}

.SelectInput {
  width: auto;
}

.ReviewInput {
  clear: left;
  min-height: 20vh;
  width: 98%;
}

.UpdateFilmButton {
  margin-top: 6%;
}
